
.back-button {
    display: inline-block !important;
}

.color-main {
    color: var(--main-color);
}

.form-group {
    ion-item {
        padding-left: 0px;

        .item-inner {
            padding-right: 12px !important;
            padding-left: 12px !important;
            font-size: 13px;
            border: 1px solid #E8E8E8;
            border-bottom: 1px solid #E8E8E8 !important;
        }
    }

    ion-calendar {
        border: 1px solid #E8E8E8;
        padding: 10px 0px;

        ion-calendar-month {
            .days {
                font-size: 12px;
            }
        }
    }
}

a[disabled],
button[disabled],
[ion-button][disabled] {
    opacity: .8;
}

form {
    padding-bottom: 100px;
}

ion-fab {
    width: 100%;
    left: 0;
    right: 0;
    margin-inline-start: 0;
    bottom: 0 !important;
}

span.eleves {
    // position: absolute;
    // right: 5px;
    // bottom: 0;
    width: 100%;

    span:first-child {

        margin-inline-start: 0px !important;
        //   position: absolute;
        //   left: 0px;
        //   bottom: 5px;
        //   z-index: 9;

    }

    span {
        position: relative;
        background-color: #F9F9F9;
        background-size: cover;
        margin: auto;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-inline-start: -6px;
        display: inline-block;

        div {
            position: absolute;
            font-size: 9px;
            text-align: center;
            display: flex;
            align-items: center;
            right: 10px;
            left: 10px;
            /* text-align: center; */
            bottom: 0;
            margin: auto;
            top: 0;
            font-weight: 800;
        }
    }
}

.modal_eleves {
    z-index: 999999 !important;

    .fixed-bottom {
        position: fixed;
        bottom: 0;
        z-index: 999999;
        left: 0;
        right: 0;
        opacity: 1;
        text-transform: uppercase;
    }

    .bottom-modal {
        width: 95%;
        left: 0;
        right: 0;
        background-size: cover;
        background-position: center;
        max-height: 65vh;
        height: fit-content;
        overflow-x: scroll;
        top: 0;
        border-radius: 20px;
        background-color: var(--main-color);

        &:before {
            content: unset;
        }

        .d-modal-action {
            padding-bottom: 0px;
            max-height: 45vh;
            overflow-x: clip;
            overflow-y: auto;
        }

        .default-modal-header {
            margin-bottom: 20px;
            padding: 0px 60px 0px 20px;
        }
    }

    ion-row {
        flex-wrap: wrap !important;
    }

    .eleve_container {
        .eleve_image {
            position: relative;
            max-width: 100%;
            width: 65px;
            height: 65px;
            background-size: cover;
            margin: auto;
            border-radius: 50%;
            border: 5px solid #ebe8e8;
        }

        h5 {
            font-size: 10px;
            margin: auto;
            margin-top: 4px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            text-align: center;
            color: #fff;
            font-weight: 500;
            font-family: 'Poppins', sans-serif;
        }
    }

    .eleve_container.active {
        .eleve_image {
            border-color: var(--main-color);
        }

        .eleve_image::before {
            content: "";
            background-image: url(../../../../assets/icon/checked.svg);
            width: 20px;
            height: 20px;
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            bottom: -5px;
            right: -5px;
        }
    }
}

.btn-white-outline {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 15px 5px;
    margin: 20px 0px 5px;
}

.btn-round {
    border-radius: 50px;
}

.devoir_students {
    align-items: center;

    ion-icon {
        font-size: 30px;
    }
}

ion-datetime{
    margin: auto;
}

.form-group{
    margin-top: 20px;
    padding: 0px 10px;
}