.students-grid {
    padding: 10px 15px;

    .competences_students {
      align-items: center;
      justify-content: start;
      text-align: start;

      ion-icon {
        font-size: 30px;
        margin-inline-start: auto;
        float: right;
      }

      span.eleves {
        // position: absolute;
        // right: 5px;
        // bottom: 0;
        width: 100%;

        span:first-child {

          margin-inline-start: 0px !important;
          //   position: absolute;
          //   left: 0px;
          //   bottom: 5px;
          //   z-index: 9;

        }

        span {
          position: relative;
          background-color: #F9F9F9;
          background-size: cover;
          margin: auto;
          border-radius: 50%;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          margin-inline-start: -6px;
          display: inline-block;



          div {
            position: absolute;
            font-size: 9px;
            text-align: center;
            display: flex;
            align-items: center;
            right: 10px;
            left: 10px;
            /* text-align: center; */
            bottom: 0;
            margin: auto;
            top: 0;
            font-weight: 800;
          }
        }
      }
    }
  }

  competence-tree {
    .card {
      padding: 20px;
      background-color: #fff;
      border-radius: 10px;
      border: 1px solid #e0e0e0;

      .check-mark-wrapper {
        // flex: 1;
        display: flex;
        align-items: center;
        margin: 5px 0px;

        .check-mark {
          font-size: 20px;
          // margin-inline-end: 10px;
        }

        .check-mark:not(.checked) {
          border-radius: 100%;
          border: 1px solid #d3d3d3;
          height: 20px;
          width: 20px;
          min-width: 20px;

          * {
            display: none;
          }
        }
      }
    }
  }