<app-enseignant-header [isRoot]="false" [title]="translation.title"></app-enseignant-header>

<ion-content padding>
  <div class="">
      <!-- <img src="https://image.flaticon.com/icons/svg/149/149063.svg" /> -->
      <form (ngSubmit)="send()"  [formGroup]="formGroup" >
          <ion-list>
              <ion-item class="pl-0">
                <ion-input type="text" placeholder="{{translation.nouveau_message}}" name="sujet" class="input-height"  [(ngModel)]="sujet" formControlName="sujet" ></ion-input>
              </ion-item>
              <br />
              <ion-item class="pl-0">
                <ion-textarea placeholder="{{translation.message}}" name="message"  [(ngModel)]="message" formControlName="message"></ion-textarea>
              </ion-item>
              <br />
              <button  type="submit" class="btn-main btn-block" [disabled]="!formGroup.valid" >{{translation.envoyer}}</button>
          </ion-list>
        </form>
  </div>
</ion-content>
