<app-enseignant-header [isRoot]="false" [title]="headerTitle" backTo="/enseignant/planning" ></app-enseignant-header>
<ion-content padding>
  <ion-tabs *ngIf="tabs">
    <ion-tab-bar slot="bottom">
      <ion-tab-button *ngIf="tabs.can_see_absence" tab="cours">
        <ion-icon name="calendar-outline"></ion-icon>
        <ion-label>{{translation.absence}}</ion-label>
        <!-- <ion-badge>6</ion-badge> -->
      </ion-tab-button>
  
      <ion-tab-button *ngIf="tabs.can_see_cdt" tab="cahier-texte">
        <ion-icon name="reader-outline"></ion-icon>
        <ion-label>{{translation.cahier_texte}}</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>