<ion-content padding>
  <button ion-button (click)="closeModal()" [ngClass]="'close-modal'">
    <ion-icon name="close-outline"></ion-icon>
  </button>
  <div *ngIf="_result" class="vertical-center">
    <div class="container">
      <div class="banner text-center">
        <img src="https://image.flaticon.com/icons/svg/1162/1162263.svg" alt="">
        <h1>{{_result.translation.title}}</h1>
        <p>{{_result.translation.intro}}</p>
        <form (ngSubmit)="valider()" [formGroup]="formGroup">
          <div class="form-group">
            <input type="password" name="actuel" formControlName="actuel" [(ngModel)]="actuel" required
              placeholder="{{_result.translation.actuel}}">
          </div>
          <div class="form-group">
            <input type="password" name="nouveau" formControlName="nouveau" [(ngModel)]="nouveau" required
              placeholder="{{_result.translation.nouveau}}">
          </div>
          <div class="form-group">
            <input type="password" name="confirmer" formControlName="confirmer" [(ngModel)]="confirmer" required
              placeholder="{{_result.translation.confirmer}}">
          </div>
          <button type="submit" class="btn-main btn-block text-uppercase"
            [disabled]="!formGroup.valid">{{_result.translation.enregistrer}}</button>
        </form>
      </div>
    </div>
  </div>
</ion-content>