.border-tlr-radius {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.text-center {
  text-align: center;
}


.bibliotheque-matiere {
  h2 {
    color: #171656;
    font-size: 3.5rem;
    font-family: "Montserrat";
    font-weight: 700;
    margin-bottom: 0px;
  }

  h5 {
    margin-top: 0px;
    color: #dc4473;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 2rem;
  }

  .bibliotheque {
    margin-top: 15px;

    .ressource {
      font-family: "Montserrat";
      border-radius: 9px;
      margin-bottom: 15px;

      .col-download {
        text-align: end;
        .btn{
            height: 30px;
            width: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;

            ion-spinner{
              width: 14px;
              height: 14px;
            }
        }
      }

      ion-row {
        padding: 10px 15px;
      }

      h3 {
        color: #fff;
        margin-bottom: 5px;
        font-size: 20px;
        font-weight: 600;
        font-family: "Montserrat", "Gotham-Medium", Arial, Helvetica, sans-serif;
      }

      p {
        font-size: 1.3rem;
        color: #fff;
        margin-bottom: 4px;
      }

      span {
        color: #fff;
        font-size: 12px;
        font-weight: 600;

        span {
          color: #fff;
          margin-bottom: 0px;
          background-color: #ffffff47;
          display: inline-block;
          margin-top: 6px;
          font-size: 11px;
          text-transform: uppercase;
          font-weight: 600;
          border-radius: 43px;
          width: 25px;
          height: 25px;
          line-height: 25px;
          text-align: center;
          margin-inline-end: 5px;
        }
      }

      .icon-container {
        position: relative;
        width: 75px;
        height: 75px;
        background-color: #ffffff47;
        border-radius: 50%;
        margin-inline-start: auto;
        .icon {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          right: 0;
          max-width: 75%;
          margin: auto;
        }
      }

      .notification {
        border-top: 1px solid #ffffff47;
        padding: 5px 20px;
        text-align: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        justify-content: center;

        p {
          margin-bottom: 0;
        }

        ion-icon {
          color: #fff;
          font-size: 24px;
          margin-inline-end: 7px;
        }
      }
    }
  }
}

.btn-outline-light {
  border: 1px solid #fff;
  background: #ffffff32;
  color: #fff;
  font-weight: 700;
}
