input{
    padding: 15px 15px 15px 15px;
        border-radius: 10px;
        border: 1px solid #D2D2D2;
        color: #12122C;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.56px;
        width: 100%;
}

iframe{
    border: none;
    border-radius: 10px;
    margin-top: 20px;
}