.file_upload {
    display: flex;
    background: #F8F9FD;
    padding: 10px;
    max-width: 94%;
    justify-content: center;
    margin: 0 auto;
    border-radius: 6px;
  }
  .file_delete {
    width: 20px;
    border-radius: 50%;
    border: 1px solid;
    padding: 2px;

  }