.menu-toggle {
    position: absolute;
    left: 20px;

    img {
        width: 25px;
        height: 25px;
    }
}

.add-new {
    position: fixed;
    bottom: 15px;
    right: 15px;
    height: 45px !important;
    width: 45px !important;
    line-height: 45px !important;
    z-index: 999;
}

.aucune-demandes {
    background: #F6F6F6;
    height: 100%;

    /*.banner{
      background: #283046;
      height: 10%;
      position: relative;
      .overlay{
          background-image: url("../../../../assets/img/safe_image.png");
          position: absolute;
          height: 100%;
          width: 100%;
          top: 0px;
          left: 0px;
      }
  }*/
    .message {
        position: relative;
        top: 50%;
        padding: 0px 40px;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        transform: translateY(-50%);

        h5 {
            font-size: 16px;
            margin-top: 10px;
            color: rgba(0, 0, 0, 0.34);
            line-height: 1.2;
        }

        button {
            display: inline-block;
            background: #88C339;
        }
    }
}

.demandes {
    width: 100%;
    min-height: 100%;
    height: auto;
    position: relative;
    color: #FFF;
    padding: 15px 0px;
    padding-bottom: 20px;

    .overlay {
        // background-image: url("../../../../assets/img/safe_image.png");
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0px;
        left: 0px;
    }

    .demande {
        position: relative;
        z-index: 2;
        padding: 10px 7px;
        background: #FFF;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
        border-radius: 5px;
        border: 1px solid #F5F5F5;
        margin-bottom: 10px;

        button {
            background: transparent;
            height: 100%;
            width: 100%;
            display: block;
            position: relative;

            i {
                color: #000;
                position: absolute;
                top: 50%;
                right: 15px;
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                transform: translateY(-50%);
                font-size: 20px;
            }
        }

        h6 {
            font-size: 10px;
            color: #000;
            margin-top: 3px;
        }

        h6.en-cours {
            color: #4799e8;
        }

        h6.cloturee {
            color: #7abc50;
        }

        h6.refusee {
            color: #F24E4E
        }

        h6.accepte {
            color: #7ABC50;
        }

        h6.nouvelle {
            color: #9675E2;
        }

        h6.livree {
            color: #3a46d6;
        }

        h4 {
            color: #000000;
            font-size: 14px;
            margin-bottom: 2px;
            margin-top: -10px;
            margin-inline-start: 5px;
        }

        span.date {
            color: rgba(0, 0, 0, 0.41);
            font-size: 12px;
            font-weight: 500;
            margin-inline-start: 5px;
        }
    }


}

.border {
    position: absolute;
    height: 40px;
    width: 1px;
    background: rgba(0, 0, 0, 0.10);
    left: 0px;
    top: 50%;
    margin-top: -25px;
}

ion-content {
    //background-image: url("../../../../assets/img/safe_image_720.png");
    background-size: cover;
    background-position-x: 50%;
}

.bar-button,
.toolbar-title {
    color: #fff !important;
}

.imgicon {
    width: 45px !important;
}